@use 'sass:color';

:root {
  --color-primary: #7D64E5;
  --color-secondary: #27264F;
  --color-white: #fff;

  --font-family: "Roboto", sans-serif;
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-white: var(--color-white);

$font-family: var(--font-family);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  margin-bottom: 4rem;
  
  &.content {
    margin: 0 auto;
    padding: 1rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

button.btn {
  min-height: 46px;
  margin-top: 1rem;
  padding: .5rem 1rem;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  outline: none;
  border: none;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    background-color: darken(#7D64E5, 10%);

    i {
      transform: scale(1.2);
      transition: all .3s ease-in-out;
    }
  }
}

header {
  height: 146px;
  color: $color-primary;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;

  .logo {
    width: 100%;
    height: 6rem;
    padding: 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 2rem;
      font-weight: 900;
      color: $color-primary;
      text-decoration: none;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: .5rem;

      span {
        color: $color-secondary;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      li {
        width: auto;
      }

      a {
        color: $color-primary;
        text-decoration: none;
        padding: .5rem 1rem;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: $color-secondary;
          color: $color-white;
        }
      }
    }
  }
}

.main {
  width: 100%;
  margin: auto;
  padding: 1rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 200px;
  grid-template-areas:
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-3 grid-3 grid-3 grid-3 grid-3"
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-3 grid-3 grid-3 grid-3 grid-3"
    "grid-2 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2 grid-3 grid-3 grid-3 grid-3 grid-3"
    "grid-2 grid-2 grid-2 grid-2 grid-2 grid-2 grid-2 grid-3 grid-3 grid-3 grid-3 grid-3";
  gap: 1rem;

  @media (max-width:490px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "grid-1 grid-1"
      "grid-1 grid-1"
      "grid-2 grid-2"
      "grid-2 grid-2"
      "grid-2 grid-2"
      "grid-3 grid-3"
      "grid-3 grid-3"
      "grid-3 grid-3"
      "grid-3 grid-3";
  }

  @media (max-width:1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    grid-template-areas:
      "grid-1 grid-1 grid-3 grid-3"
      "grid-1 grid-1 grid-3 grid-3"
      "grid-2 grid-2 grid-3 grid-3"
      "grid-2 grid-2 grid-3 grid-3";
  }

  .grid {
    position: relative;
    color: #000;

    img {
      width: 100%;
      height: 100%;
      object-fit:contain;
    }

    &-content {
      padding: 1rem;
      
      &:last-child {
        border-bottom: none;
      }

      h2 {
        color: $color-primary;
      }
    }

    &-1 {
      grid-area: grid-1;
      background-color: lighten(#7D64E5, 24%);

      img {
        object-fit: cover;
      }
    }

    &-2 {
      grid-area: grid-2;
      display: flex;
      align-items: center;
      gap: 2rem;

      @media (max-width:1024px) {
        text-align: center;
        flex-direction: column;
        gap: 0;
      }

      h1 {
        font-size: 2rem;
        color: $color-secondary;
      }

      .right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .destaque {
          height: 100%;
          padding: 1rem;
          background-color: $color-primary;
          display: flex;
          align-items: center;
          text-align: center;
  
          p {
            font-size: 1.5rem;
            color: $color-white;
          }
        }
        
        @media (max-width:490px) {
          button {
            width: 100%;
          }
        }
      }
      
    }

    &-3 {
      grid-area: grid-3;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $color-secondary;

      p {
        color: $color-white;

        @media (max-width:1024px) {
          font-size: .8rem;
        }
      }
    }
  }
}

.vantagens {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  &-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width:1024px) {
      justify-content: flex-start;
      flex-direction: column;
    }

    &-card {
      width: 100%;
      height: 260px;
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      &:hover {
        img {
          transform: scale(1.075);
          transition: all .3s ease-in-out;
        }
      }

      @media (max-width:490px) {
        height: auto;
        flex-direction: column;
      }

      img {
        width: 160px;
        height: 260px;
        object-fit: cover;

        @media (max-width:1024px) {
          object-fit: contain;
        }
      }

      .conteudo {
        width: 100%;

        h1 {
          color: $color-secondary;
        }

        h3 {
          font-size: 1.5rem;
          color: $color-primary;
        }

        p {
          font-size: .9rem;
        }

        @media (max-width:490px) {
          text-align: center;
        }
      }
    }
  }
}

footer {
  height: 80px;
  margin-top: 2rem;
  padding: 1rem;
  background-color: $color-secondary;
  color: $color-white;
  text-align: center;
  
  .footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 2rem;
      font-weight: 900;
      color: $color-primary;
      text-decoration: none;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: .5rem;

      span {
        color: $color-primary;
      }
    }

    .social {
      display: flex;
      gap: 1rem;
    }
  }

  a {
    font-size: .9rem;
    color: $color-white;
  }
}

.login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;

  form {
    width: 40rem;
    padding: 2rem 4rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    input {
      border-radius: 0%;
    }

    .btn {
      background-color: $color-secondary !important;
      width: 10rem;
      align-self: flex-end;
    }
  }
}